{% extends 'layout.twig' %} {% block body %}
<div class="row mt-2">
	<div class="col-12">
		<h1 class="display-4">Balls sorting</h1>
	</div>
</div>
<div class="row mt-2">
	<div class="col-8">
		<div class="card shadow mb-1">
			<div class="card-body">
				<h4 class="card-title">Live data (data updates each seconds)</h4>
				<p class="card-text">
					Last acquired data at <span id="timestamp">...waiting...</span>.
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>Yellow container</th>
							<th>Pink container</th>
							<th>Other container</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td
								scope="row"
								id="measureYellow">
								nA
							</td>
							<td id="measurePink">nA</td>
							<td id="measureOther">nA</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card shadow">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<h4 class="card-title">Control</h4>
						<p class="card-text">
							Use these controls to start or stop a record
						</p>
						<button
							type="button"
							name=""
							id="start"
							class="btn btn-success btn-lg btn-block"
							style="display: block">
							Start
						</button>
						<button
							type="button"
							name=""
							id="stop"
							class="btn btn-warning btn-lg btn-block"
							style="display: none">
							Stop
						</button>

						<p class="card-text">Current state : <span id="state">nA</span></p>
					</div>
					<div class="col-6">
						<h4 class="card-title">Reset</h4>
						<p class="card-text">Use this button to reset</p>
						<button
							type="button"
							name=""
							id="reset"
							class="btn btn-primary btn-lg btn-block"
							style="display: block">
							Reset
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 mt-3">
		<!-- Bar Chart -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Real time bar chart</h6>
			</div>
			<div class="card-body">
				<canvas
					id="graph"
					style="display: block; height: 320px; width: 793px"
					width="991"
					height="400"
					class="chartjs-render-monitor"></canvas>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block scripts %}

<script type="text/javascript">
	$(() => {
		// Define the chart outside the setInterval function
		const ctx = document.getElementById("graph").getContext("2d");
		const barChart = new Chart(ctx, {
			type: "bar",
			data: {
				labels: ["Yellow", "Pink", "Others"],
				datasets: [
					{
						label: "Balls count",
						data: [0, 0, 0], // Initialize with zero data
						backgroundColor: [
							"rgba(255, 255, 0, 0.2)",
							"rgba(255, 192, 203, 0.2)",
							"rgba(0, 0, 255 , 0.2)",
						],
						borderColor: [
							"rgba(255, 255, 0, 0.2)",
							"rgba(255, 192, 203, 0.2)",
							"rgba(0, 0, 255 , 0.2)",
						],
						borderWidth: 1,
					},
				],
			},
			options: {
				scales: {
					y: {
						beginAtZero: true,
					},
				},
			},
		});

		setInterval(() => {
			$.ajax({
				type: "post",
				url: "/api/state",
				dataType: "json",
				success: function (response) {
					console.log(response);
					$("#timestamp").text(response.lastTimestamp);
					$("#measureYellow").text(response.lastAcquisitionYellow);
					$("#measurePink").text(response.lastAcquisitionPink);
					$("#measureOther").text(response.lastAcquisitionOther);
					$("#state").text(response.idle ? "IDLE" : "recording...");
					if (response.idle) {
						$("#start").show();
						$("#stop").hide();
					} else {
						$("#start").hide();
						$("#stop").show();
					}

					// Update the chart data
					barChart.data.datasets[0].data[0] = response.lastAcquisitionYellow;
					barChart.data.datasets[0].data[1] = response.lastAcquisitionPink;
					barChart.data.datasets[0].data[2] = response.lastAcquisitionOther;

					// Update the chart
					barChart.update();
				},
			});
		}, 1000);
	});

	$("#start").click(function (e) {
		e.preventDefault();
		$.post("/api/start", function (data, textStatus, jqXHR) {}, "json");
	});

	$("#stop").click(function (e) {
		e.preventDefault();
		$.post("/api/stop", function (data, textStatus, jqXHR) {}, "json");
	});

	$("#reset").click(function (e) {
		e.preventDefault();
		$.post("/api/reset", function (data, textStatus, jqXHR) {}, "json");
	});
</script>
<script src="/chart.umd.js"></script>

{% endblock %}
