<nav class="navbar navbar-expand-sm navbar-light bg-light d-print-none">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.helha.be%2Fapp%2Fuploads%2F2020%2F11%2FLOGO_HELHa.png&f=1&nofb=1&ipt=b4c0b57977e516973531f396dd7e8cd11148e074e8224834b452ddada07009c8&ipo=images" width="400" height="100"></img>
    <div class="container">
        <a class="navbar-brand" href="#">Ball Sorting</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Live data</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log">Historic</a>
                </li>
            </ul>
        </div>
    </div>
</nav>